{{#each cartItems}}
<tr class="cart-rows">
    <th scope="row">
        <img src="../img/icon/close-icon.png" alt="" id="{{item._id}}" class="btn-remove">
    </th>
    <td>
        <div class="media">
            <div class="d-flex">
                <img src="{{item.cover}}" width="40px" height="60px" alt="">
            </div>
            <div class="media-body">
                <a href="/products/detail/{{item._id}}"><h4>{{item.title}}</h4></a>
            </div>
        </div>
    </td>
    {{#if item.discount}}
    <td style="font-size: 16px; color:red"><del style="font-size: 12px; color:black">${{item.price}}</del>  ${{minus item.price item.discount}}</td>
    {{else}}
    <td><p class="item_price">${{item.price}}</p></td>
    {{/if}}
    <!--td>{{#if item.discount}}<p class="item_discount">${{item.discount}}</p> {{/if}}</td-->
    <td><input class="cart-quantity" id="{{item._id}}" type="number" min="1" max="{{item.inStock}}" value="{{qty}}">
        <span>
            ({{item.inStock}} in stock)
        </span>
        </td>
    <td><p class="item_total_price">${{price}}</p></td>
</tr>
{{/each}}
<tr>
    <th style="font-size:20px" colspan="3" scope="col"></th>
    <th style="font-size:20px" colspan="1" scope="col">Total:</th>
    <th style="font-size:20px" scope="col">${{totalPrice}}</th>
</tr>