
      <!-- Sidebar Menu -->
          <div class="container">
            
              <form class="login_form" action="/user/update" method="POST" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
              <div class="row">
              <div class="col-4">
                <div class="avatar">
                  <img id="avatar" style="width: 150px; height: 150px;" src="{{account.avatar}}"/>
                </div>
                <div class="form-group">
                    <label class="upload-label">Upload cover image:</label>
                    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> --}}
                    <div id="fakeDiv">
                        <input type="file" id="selectedFile" name="cover" onchange="readURL(this);"/>
                        <input type="text" id="fakeInput" readonly="readonly"/>
                        <span onclick="document.getElementById('selectedFile').click();" id="buttonImage" >Browse</span>
                    </div>
                </div>
              </div>
              <div class="col">
                
                    <div class="row form-group">
                        <input class="form-control" type="text" name="name" value="{{account.name}}" placeholder="Name">
                    </div>
                    <div class="row form-group">
                        <input class="form-control" type="email" name="email" value="{{account.email}}" placeholder="Email">
                    </div>
                    <div class="row form-group">
                        <input class="form-control" type="text" name="username" value="{{account.username}}" placeholder="User Name">
                    </div>
                    <div class="row form-group">
                        <input class="form-control" type="text" name="phone" value="{{account.phone}}" placeholder="Phone">
                    </div>
                    <div class="row form-group">
                        <button type="submit" value="submit" class="btn subs_btn form-control">Save profile</button>
                    </div>
              </div>
            </div>

<div class="container">
  <form class="login_form" action="/user/update" method="POST" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
    <div class="row">
      <div class="col-4 mr-5">
        <label class="upload-label">Profile picture</label>
        <div class="image-container" data-toggle="tooltip" data-placement="top" title="Profile picture">
            <img id="avatar" class="image" src="
              {{#if account.avatar}}
                {{account.avatar}}
              {{else}}
                /img/image-not-available.jpg
              {{/if}}
            "/>
          <div id="fakeDiv" class="middle">
            <label for="selectedFile" class="custom-file-upload btn subs_btn">
              Upload profile picture
            </label>
            <input type="file" id="selectedFile" name="cover" onchange="readURL(this);"/>
          </div>
        </div>
      </div>
        
      <div class="col">
          <div class="row form-group">
              <input class="form-control" type="text" name="name" value="{{account.name}}" placeholder="Name" data-toggle="tooltip" data-placement="top" title="Name">
          </div>
          <div class="row form-group">
              <input class="form-control" type="email" name="email" value="{{account.email}}" placeholder="Email" data-toggle="tooltip" data-placement="top" title="Email">
          </div>
          <div class="row form-group">
              <input class="form-control" type="text" name="username" value="{{account.username}}" placeholder="User Name" data-toggle="tooltip" data-placement="top" title="Username">
          </div>
          <div class="row form-group">
              <input class="form-control" type="text" name="phone" value="{{account.phone}}" placeholder="Phone number" data-toggle="tooltip" data-placement="top" title="Phone number">
          </div>
          <div class="row form-group">
              <button type="submit" value="submit" class="btn subs_btn form-control">Save profile</button>
          </div>
      </div>
    
    </div>
  </form>

  <div class="row mt-6" style="margin-top: 30px;">
    <div class="col-4 mr-5"></div>
    <form id="signupForm" class="login_form col" action="/user/change-password" method="POST">
      <h6 class="mb-4">Change password: </h6>
      <div class="row form-group">
          <input id="pass" class="form-control" type="password" name="currentPassword" placeholder="Current Password" data-toggle="tooltip" data-placement="top" title="Current Password">
      </div>
      <div class="row form-group">
          <input id="pass" class="form-control" type="password" name="newPassword" placeholder="New Password" data-toggle="tooltip" data-placement="top" title="New Password">
      </div>
      <div class="row form-group">
          <input id="repass" class="form-control" type="password" name="reNewPassword" placeholder="Comfirm New Password" data-toggle="tooltip" data-placement="top" title="Comfirm New Password">
      </div>
      <div class="row form-group">
          <button id="submitPassBtn" class="btn subs_btn form-control">Change Password</button>
      </div>
    </form>
  </div>

</div>
            
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

$('#selectedFile').change(function () {
  var a = $('#selectedFile').val().toString().split('\\');
  $('#fakeInput').val(a[a.length -1]);
});
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#avatar')
        .attr('src', e.target.result)
        .width(150)
        .height(150);
    };

    reader.readAsDataURL(input.files[0]);
  }
}
</script>
